<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        default-init-method="incCount" default-destroy-method="decCount">
    <!-- Bean declarations go here -->
    <bean id="Duke" class="Juggler" />
    <bean id="Mike" class="PoetJuggler">
        <constructor-arg value="20" />
        <constructor-arg ref="sonnet29" />
    </bean>
    <bean id="sonnet29" class="Poem">
        <constructor-arg value="sonnet29" />
    </bean>
    <bean id="Stage" class="Stage" factory-method="getInstance"/>
    <bean id="dupPerf" class="Juggler" />
    <bean id="uniquePerf" class="Juggler" scope="prototype" />

    <bean id="auditorium" class="Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>
</beans>